body{
    background-color: rgba(245, 182, 10, 0.897);
    text-align: center;
}
tr, td{

    border: 2px solid black;
    border-radius: 30px;
    font-size: 30px;

}
table{
    width: 100%;
}
a:link, a:visited{
    color: black;
}
a:hover{
    color: red;
}